{% extends 'webapp/base.html' %}

{% block content %}

  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Liver</h1>
      <p class="lead">Our Algorithm will predict if you have liver disease.</p>
    </div>
  </div>

  <form method="POST" action="{% url 'liver' %}">
    {% csrf_token %}
   
    <!-- Submit Button -->
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Prediction Page</button>
      </div>
    </div>
  </form>
    
{% endblock %}